:root {
  --backgroundColor:  #232323;
  --backgroundColor2: #333333;
  --highlightColor:   #444;
  --borderColor:      #444;
  --textColor:        #aaa;
  --oddFileColor:     #373737;
  --folderColor:      #e5e589;
}
body {
  background: var(--backgroundColor);
  color: var(--textColor);
  fill: var(--textColor);
  font-family: Verdana;
  margin: 0;
  position: fixed;
  width: 100%;
  height: 100%;
}

.button {
  transition: background .2s;
  cursor: pointer;
}
.button:hover {
  background: var(--highlightColor) !important;
}

#settingsButton {
  padding-left: 8px;
  padding-top: 8px;
  width: 24px;
  height: 24px;
  float: left;
}

#titleBar {
  -webkit-app-region: drag;
  background: var(--backgroundColor);
  height: 32px;
  width: calc(100% - 128px);
  float: left;
}
.menu {
  background: var(--backgroundColor);
  float: left;
  height: 32px;
  width: 32px;
}

::-webkit-scrollbar {
  background: var(--backgroundColor);
}
::-webkit-scrollbar-track {
  background: var(--backgroundColor);
}
::-webkit-scrollbar-thumb {
  background: var(--backgroundColor2);
}
::-webkit-scrollbar-button {
  background: var(--highlightColor);
}
::-webkit-scrollbar-corner {
  background: var(--backgroundColor);
}

#back {
  float: left;
  background-color: var(--backgroundColor2);
  width: 32px;
  height: 32px;
  border-right: 1px solid var(--borderColor);
  border-bottom: 1px solid var(--borderColor);
  border-top: 1px solid var(--borderColor);
  ;
}

#path {
  float: left;
  width: calc(100% - (66px + 5px));
  height: 32px;
  border: 0;
  padding: 0;
  padding-left: 5px;
  color: var(--textColor);
  background-color: var(--backgroundColor2);
  outline: none;
  font-size: 20px;
  z-index: 3;
  border-bottom: 1px solid var(--borderColor);
  border-top: 1px solid var(--borderColor);
}
#bookmark {
  float: left;
  background-color: var(--backgroundColor2);
  width: 24px;
  height: 24px;
  border-left: 1px solid var(--borderColor);
  border-bottom: 1px solid var(--borderColor);
  border-top: 1px solid var(--borderColor);
  padding-left: 8px;
  padding-top: 8px;
  ;
}

#bookmarks {
  background: var(--backgroundColor);
  height: calc(100% - 66px);
  width: 20%;
  float: left;
  z-index: 2;
  border-right: 1px solid var(--borderColor);
  overflow: auto;
}
#files {
  float: left;
  width: calc(80% - 1px);
  height: calc(100% - 66px);
  background-color: var(--backgroundColor2);
  z-index: 1;
  overflow: auto;
}

.fileListElement {
  overflow: hidden;
  white-space: nowrap;
  font-size: 16px;
  line-height: 22px;
  height: 22px;
  ;
}
.fileListElement * {
  vertical-align: middle;
  float: left;
}
.fileListElement:nth-child(odd) {
  background: var(--backgroundColor2);
}
.fileListElement:nth-child(even) {
  background: var(--oddFileColor);
}
.fileListElement svg {
  margin-top: 3px;
}

.folder {
  fill: var(--folderColor);
}

.bookmarkItem {
  width: 100%;
  height: 22px;
  line-height: 22px;
  vertical-align: middle;
  font-size: 17px;
  overflow: hidden;
  border-bottom: 1px solid var(--borderColor);
}

.bookmarkItem svg {
  margin-left: 3px;
  margin-top: 3px;
}
.bookmarkItem * {
  float: left;
  vertical-align: middle;
}