body {
  color: #aaa;
  fill: #aaa;
  font-family: Verdana;
  margin: 0;
  position:fixed;
  top:0px;
  bottom:0px;
  left:0px;
  right:0px;
  overflow: auto;
}

#titleBar {
  -webkit-app-region: drag;
  background: #232323;
  height: 32px;
  width: calc(100% - 96px);
  float: left;
}
.menu {
  cursor: pointer;
  background: #232323;
  float: left;
  height: 32px;
  width: 32px;
  transition: background .1s;
}
.menu:hover {
  background: #444;
}

::-webkit-scrollbar {
  background: #444;
}
::-webkit-scrollbar-track {
  background: #444;
}
::-webkit-scrollbar-thumb {
  background: #555;
}
::-webkit-scrollbar-button {
  background: #666;
}
::-webkit-scrollbar-corner {
  background: #444;
}

#back {
  cursor: pointer;
  float: left;
  background-color: #343434;
  width: 32px;
  height: 32px;
  line-height: 32px;
  font-size: 32px;
  vertical-align: middle;
  border-right: 1px solid #444;
  border-bottom: 1px solid #444;
  border-top: 1px solid #444;
}
#path {
  float: left;
  width: calc(100% - 38px);
  height: 32px;
  border: 0;
  padding: 0;
  padding-left: 5px;
  color: #aaa;
  background-color: #343434;
  outline: none;
  font-size: 20px;
  z-index: 3;
  border-bottom: 1px solid #444;
  border-top: 1px solid #444;
}
#bookmarks {
  background: #232323;
  height: calc(100% - 66px);
  width: 20%;
  float: left;
  z-index: 2;
  border-right: 1px solid #444;
  overflow: auto;
}
#files {
  float: left;
  width: calc(80% - 1px);
  height: calc(100% - 66px);
  background-color: #333333;
  z-index: 1;
  overflow: auto;
}

.fileListElement {
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  font-size: 16px;
  line-height: 22px;
  height: 22px;
  vertical-align: middle;
  transition: background .2s;
}
.fileListElement:nth-child(odd) {
  background: #333333;
}
.fileListElement:nth-child(even) {
  background: #373737;
}
.fileListElement svg {
  margin-top: 3px;
}
.fileListElement:hover {
  background: #444
}
.folder {
  fill: #e5e589;
}