@import "~@/variables.scss";

.titleBar {
  height: $titleBarHeight;
  -webkit-app-region: drag;
  background: #333;
}

.controls {
  -webkit-app-region: no-drag;
  float: right;

  img {
    padding: 10px 18px;

    &:hover {
      background: #444;
    }
  }
}
