.file {
  overflow: hidden;
  padding: 3px;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:nth-child(odd) {
    background: #292929;
  }

  &:hover {
    background: #333;
  }

  &.focused {
    background: #404040;
  }
}
