*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

::-webkit-scrollbar {
  width: 17px;
}

::-webkit-scrollbar-track {
  background: #333;
}

::-webkit-scrollbar-thumb {
  background: #444;
}

body {
  margin: 0;
  background: #232323;
  color: #aaa;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.root {
  display: flex;
  overflow: hidden;
  height: 100vh;
  flex-direction: column;
}
